#p-equipo {
    padding: 30px;
}

/* #p-equipo p{
    font-family: 'Roboto', sans-serif;
}
#p-equipo h5{
    font-family: 'Montserrat', sans-serif; */
/* } */

#p-equipo h3{
    text-align: center;
    margin: 15px 0;
}

#p-equipo .cards1{
    margin-top: 5%;
}
#p-equipo .cards2{
    margin-top: 5%;
}

#p-equipo .card {
    border: solid 2px;
    color: var(--color-brand);
    background-color: var(--color-heading);
}

#p-equipo .card-img-top{
    transition: transform 0.5s ease;
    /* Agrega una transición para suavizar el cambio de tamaño al pasar el mouse */
}

#p-equipo .card-img-top:hover {
    /* Estilos al pasar el mouse */
    transform: scale(1.1);
    /* Escala la imagen al 110% al pasar el mouse por encima */
    /* Otros estilos al pasar el mouse */
}
