#p-equipo {
    padding: 30px;
}

#p-equipo h3{
    text-align: center;
    margin: 15px 0;
}

#p-equipo .cards1{
    margin-top: 5%;
}
#p-equipo .cards2{
    margin-top: 5%;
}

#p-equipo .card {
    border: solid 2px;
    color: var(--color-brand);
    background-color: var(--color-heading);
}

#p-equipo .card-img-top{
    transition: transform 0.5s ease;
    /* Agrega una transición para suavizar el cambio de tamaño al pasar el mouse */
}

#p-equipo .card-img-top:hover {
    /* Estilos al pasar el mouse */
    transform: scale(1.1);
    /* Escala la imagen al 110% al pasar el mouse por encima */
    /* Otros estilos al pasar el mouse */
}

#p-equipo .card-body {
    text-align: center;
}

#p-equipo .btn {
    padding: 12px 28px;
}

#p-equipo .btn-primary {
    border-radius: 30px;
    background-color: var(--color-base);
    border-color: var(--color-base2);
    color: var(--color-heading);
}

#p-equipo .btn-primary:hover,
#p-equipo .btn-primary:focus {
    background-color: var(--color-heading);
    color: var(--color-base);
    border-color: var(--color-brand);
}

#p-equipo .btn-secondary {
    border-radius: 30px;
    background-color: var(--color-base);
    border-color: var(--color-base2);
    color: var(--color-heading);
}

#p-equipo .btn-secondary:hover,
#p-equipo .btn-secondary:focus {
    background-color: var(--color-heading);
    color: var(--color-base);
    border-color: var(--color-brand);
}

#p-equipo .card-footer {
    padding: 20px 0;
}