#p-estudios {
    padding: 30px;
}

#p-estudios h3, #p-estudios h5 {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}

#p-estudios .card {
    border: solid 3px var(--color-base);
    border-radius: 10px;
}

#p-estudios .card-text {
    text-align: center;
    padding: 10px;
}
